<header class="bg-gray-400 shadow-sm ">
    <div class="mx-auto  px-4 sm:px-6 lg:px-8">
      <div class="relative flex justify-between">
        <div class="flex ">
          <div class="flex flex-shrink-0 items-center">
            <a routerLink="/home/games">
              <img class="block h-8 w-auto hover:contrast-200" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
            </a>
          </div>
        </div>
        <div class="flex items-center justify-end col-span-4 p-4">
          <a routerLink="/auth/login" class="ml-6 inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Login</a>
          <a routerLink="/auth/register" class="ml-6 inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Register</a>
        </div>
      </div>
    </div>
  </header>
  