<header class="bg-white shadow-sm h-14">
  <div class="mx-auto  px-1 sm:px-6 lg:px-8">
    <div class="relative flex justify-between h-14 px-1 py-2">
      <div class="flex ">
        <div class="flex flex-shrink-0 items-center">
          <a routerLink="/home/games" class="flex">
            <img class="block h-8 w-auto hover:scale-110" src=".\assets\stiemlogoOrange.png" alt="home">
          </a>
        </div>
      </div>
      <div>
        <app-search></app-search>
      </div>
      <div class="flex items-center justify-end col-span-4 p-1">
        <div *ngIf="!activeUser; else elseBlock" class="flex items-center">
          <a routerLink="/auth/login"
            class="ml-1 sm:ml-6 inline-flex items-center rounded-md border border-transparent bg-primary-500 px-1 sm:px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2">Login</a>
          <a routerLink="/auth/register"
            class="ml-1 sm:ml-6 inline-flex items-center rounded-md border border-transparent bg-primary-500 px-1 sm:px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2">Register</a>
        </div>
        <ng-template #elseBlock>
          <a routerLink="/home/cart" class="my-auto">
            <img src="https://img.icons8.com/ios-glyphs/512/shopping-cart.png" alt="shopping cart"
              class="block h-8 w-auto hover:scale-110">
          </a>
          <button (click)="Logout()"
            class="ml-1 sm:ml-6 inline-flex items-center rounded-md border border-transparent bg-primary-500 px-1 sm:px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2">
            Logout
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</header>