<div class="flex flex-wrap gap-2 justify-center p-2 px-4">
    <div *ngFor="let genre of genres">
        <div *ngIf="genre == 'Any'">
            <a routerLink="/home/games">
                <span routerLinkActive="bg-primary-900" [routerLinkActiveOptions]="{exact:
                    true}"
                class="inline-flex items-center rounded-full bg-primary-500 hover:bg-primary-600 px-3 py-0.5 text-sm font-medium text-white">{{genre}}</span>
            </a>
        </div>
        <div *ngIf="genre != 'Any'">
            <a routerLink="/home/genre/{{genre}}">
                <span routerLinkActive="bg-primary-900"
                [routerLinkActiveOptions]="{exact:
                    true}" 
                class="inline-flex items-center rounded-full bg-primary-500 hover:bg-primary-600 px-3 py-0.5 text-sm font-medium text-white">{{genre}}</span>
            </a>
        </div>
    </div>
</div>

<app-not-found [visible]="games.length <= 0 && !searched" message="Sorry, we couldn't load any games.
    Please try again later" buttonText="">
</app-not-found>

<app-not-found [visible]="games.length <= 0 && searched" title="Game not found" message="Sorry, we couldn't find anything with that term.
    Please try something else" buttonText="Home">
</app-not-found>

<div class="my-8 mx-10 grid grid-cols-1 gap-y-12 md:grid-cols-2 sm:gap-x-6 xl:grid-cols-3 2xl:grid-cols-4">
   <div *ngFor="let game of games">
        <app-game-card [game]="game"></app-game-card>
   </div>
</div>