<div class="mt-8 mx-10 grid grid-cols-1 gap-y-12 md:grid-cols-2 sm:gap-x-6 xl:grid-cols-3 2xl:grid-cols-4">
    <div *ngFor="let game of games">
        <div class="relative">
            <div class="relative h-72 w-full overflow-hidden rounded-lg">
                <a (click)="NavToGameDetail(game.gameID)">
                    <img src={{game.imageURL}} alt={{game.description}} class="h-full w-full object-cover object-center hover:scale-110 cursor-pointer">
                </a>

            </div>
            <div class="relative mt-4">
                <h3 class="text-sm font-medium text-gray-900">{{game.name}}</h3>
                <p class="mt-1 text-sm text-gray-500">{{game.developer}}</p>
            </div>
            <div class="absolute inset-x-0 top-64 flex h-10 w-24 items-end justify-end overflow-hidden rounded-lg p-4">
                <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36">
                </div>
                <div *ngIf="game.price > 0; else elseBlock">
                    <p class="relative text-lg font-semibold text-white">
                        €{{game.price}}
                    </p>
                </div>
                <ng-template #elseBlock>
                    <p class="relative text-lg font-semibold text-white">
                        FREE
                    </p>
                </ng-template>
            </div>
        </div>
        <div class="mt-6">
            <a (click)="AddToCart(game.gameID)"
                class="relative flex items-center justify-center rounded-md border border-transparent bg-gray-200 py-2 px-8 text-sm font-medium text-gray-900 hover:bg-gray-300">Add
                to bag</a>
        </div>
    </div>
</div>