<div *ngIf="(game | json) != '{}'">
    <div class="mx-auto mt-8 max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="lg:grid lg:auto-rows-min lg:grid-cols-12 lg:gap-x-8">
          <div class="lg:col-span-5 lg:col-start-8">
            <div class="flex justify-between">
              <h1 class="text-xl font-medium text-gray-900">{{game.name}}</h1>
              <div *ngIf="game.price > 0; else elseBlock">
                <p class="text-xl font-medium text-gray-900">
                    €{{game.price}}
                </p>
            </div>
            <ng-template #elseBlock>
                <p class="text-xl font-medium text-gray-900">
                    FREE
                </p>
            </ng-template>
            </div>
          </div>
  
          <!-- Image gallery -->
          <div class="mt-8 lg:col-span-7 lg:col-start-1 lg:row-span-3 lg:row-start-1 lg:mt-0">
            <h2 class="sr-only">Images</h2>
  
            <div class="grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-3 lg:gap-8">
              <img src= {{game.imageURL}} alt="Game Splash art" class="lg:col-span-2 lg:row-span-2 rounded-lg">
            </div>
          </div>
  
          <div class="mt-8 lg:col-span-5">
              <button (click)="AddToCart(game.gameID)" class="mt-8 flex w-full items-center justify-center rounded-md border border-transparent bg-primary-500 py-3 px-8 text-base font-medium text-white hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2">Add to cart</button>
  
            <!-- Product details -->
            <div class="mt-10">
              <h2 class="text-sm font-medium text-gray-900">Description</h2>
  
              <div class="prose prose-sm mt-4 text-gray-500">
                <p>{{game.description}}</p>
              </div>
            </div>
  
            <div class="mt-8 border-t border-gray-200 pt-8">
              <h2 class="text-sm font-medium text-gray-900">
                Game information
              </h2>
  
              <div class="prose prose-sm mt-4 text-gray-500">
                <ul role="list">
                  <li><span class="text-primary-600 font-bold">Developer:</span> {{game.developer}}</li>
  
                  <li><span class="text-primary-600 font-bold">Genre:</span> {{game.genre}}</li>
  
                  <li><span class="text-primary-600 font-bold">Platform:</span> {{game.platform}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


   <app-not-found 
   [visible]="(game | json) == '{}'"
    title="Game not found"
    message="Sorry, we couldn’t find the game you’re looking for."
    buttonText="Go back home">
  </app-not-found>